
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fde68a;
}

#container {
    min-width: 320px;
    max-width: 640px;
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    background-color: #fff;
}

#container h2, h3{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

#perguntas-respostas {
    list-style-type: none;
    border: 1px solid orange;
    text-align: center;
}

#perguntas-respostas li {
    text-align: left;
    padding: 10px 0;
    border: 1px solid yellow;
}

#botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border: 1px solid orangered;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #38bdf8;
    color: #fff;
    text-transform: uppercase;
}

button:active {
    background-color: #075985;
    color: #fef9c3;
}

footer {
    border: 1px solid blue;
    text-align: center;
}